{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://developers-test.pinpointhq.com/api/v1/applications/9999999999?extra_fields%5Bapplications%5D=attachments",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Api-Key": [
            "<PINPOINT_API_KEY>"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json; charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"errors\":[{\"code\":\"not_found\",\"status\":\"404\",\"title\":\"Not Found\",\"detail\":\"Specified Record Not Found\"}]}"
        }
      },
      "recorded_at": "Tue, 13 May 2025 16:51:57 GMT"
    }
  ],
  "recorded_with": "VCR 6.3.1"
}