{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://developers-test.pinpointhq.com/api/v1/applications/8863861?extra_fields%5Bapplications%5D=attachments",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Api-Key": [
            "<PINPOINT_API_KEY>"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json; charset=utf-8"
          ],
          "X-Pinpoint-Version": [
            "ce53e7eea65bce3cd4d0807fd14d60c604511758-1747153554"
          ],
          "Etag": [
            "W/\"d53fdc31faf808f111b7326e331659c1\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\":{\"id\":\"8863861\",\"type\":\"applications\",\"attributes\":{\"created_at\":\"2024-02-01T06:44:38+00:00\",\"updated_at\":\"2024-02-19T16:19:20+00:00\",\"candidate_id\":\"6909496\",\"hired_at\":null,\"internal_candidate\":true,\"job_id\":\"174770\",\"locale\":\"en\",\"stage_id\":\"1539046\",\"rejected_at\":null,\"phone_iso2\":\"CO\",\"start_on\":null,\"is_demo\":true,\"first_name\":\"Maddie\",\"last_name\":\"Hudson\",\"email\":\"maddie.hudson@pinpoint.dev\",\"phone\":\"+5755792044207\",\"date_of_birth\":\"1982-01-03\",\"linkedin_url\":null,\"summary\":\"This is an example application designed to help demonstrate Pinpoint to the team at Developer Acme. Please completely disregard this application as it is for demonstrative purposes only and will be automatically deleted in due course.\",\"address1\":\"97980 Richie Estates\",\"address2\":\"Wyman Parkways\",\"town\":\"North Cole\",\"country\":\"Montenegro\",\"postcode\":\"00089\",\"preferred_pronouns\":\"(She/They)\",\"channel_source\":\"Employee referral\",\"country_code\":\"ME\",\"country_code_alpha3\":\"MNE\",\"country_name\":\"Montenegro\",\"full_name\":\"Maddie Hudson\",\"national_identifier\":null,\"channel\":\"event\",\"concealed\":false,\"attachments\":[{\"context\":\"cv\",\"filename\":\"tom_hacquoil.pdf\",\"url\":\"https://pinpointhq.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBM0thK0E9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--f381b92262aa1a8f2f759c8da39ca4b874819f4d/tom_hacquoil.pdf\"},{\"context\":\"pdf_cv\",\"filename\":\"tom_hacquoil.pdf\",\"url\":\"https://pinpointhq.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBM0thK0E9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--f381b92262aa1a8f2f759c8da39ca4b874819f4d/tom_hacquoil.pdf\"}],\"applied_stage_at\":null,\"review_stage_at\":null,\"ta_screen_stage_at\":null,\"group_session_stage_at\":null,\"submitted_to_hiring_manager_stage_at\":null,\"hiring_manager_interview_stage_at\":null,\"assessment_stage_stage_at\":null,\"skills_assessment_stage_at\":null,\"live_assessment_interview_stage_at\":null,\"onsite_virtual_interview_stage_at\":null,\"final_interview_stage_at\":null,\"interview_stage_at\":null,\"offer_stage_at\":null,\"initiate_first_advantage_background_check_stage_at\":null},\"relationships\":{\"job\":{\"meta\":{\"included\":false}},\"stage\":{\"meta\":{\"included\":false}},\"candidate\":{\"meta\":{\"included\":false}},\"onboarding_application\":{\"meta\":{\"included\":false}},\"offers\":{\"meta\":{\"included\":false}},\"answers\":{\"meta\":{\"included\":false}},\"custom_attributes\":{\"meta\":{\"included\":false}},\"structured_section_responses\":{\"meta\":{\"included\":false}},\"scorecard_ratings\":{\"meta\":{\"included\":false}},\"scorecard_notes\":{\"meta\":{\"included\":false}},\"scorecard_answers\":{\"meta\":{\"included\":false}},\"comments\":{\"meta\":{\"included\":false}}}},\"meta\":{}}"
        }
      },
      "recorded_at": "Tue, 13 May 2025 16:59:47 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "https://api.hibob.com/v1/people",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"firstName\":\"Maddie\",\"surname\":\"Hudson\",\"email\":\"maddie.hudson@pinpoint.dev\",\"work\":{\"site\":\"New York (Demo)\",\"startDate\":\"2025-06-01\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Authorization": [
            "<HIBOB_AUTH_TOKEN>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Ratelimit-Limit": [
            "50"
          ],
          "X-Ratelimit-Remaining": [
            "49"
          ],
          "X-Ratelimit-Reset": [
            "1747155600"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"fullName\":\"Maddie Hudson\",\"creationDate\":\"2025-05-13\",\"displayName\":\"Maddie Hudson\",\"payroll\":{\"additionalPensionContribution\":null,\"timeSinceLastSalaryChange\":null,\"salary\":{\"monthlyPayment\":null,\"payPeriod\":null,\"yearlyPayment\":null,\"payment\":{\"currency\":null},\"activeEffectiveDate\":null,\"payFrequency\":null},\"taxCode\":null,\"entitlement\":{\"Season ticket loans\":{\"amount\":null},\"Cycle to work\":{\"amount\":null},\"Company Car\":{\"amount\":null},\"Childcare vouchers\":{\"amount\":null},\"Lunch vouchers\":{\"amount\":null}},\"deduction\":{\"Season ticket loans\":{\"amount\":null},\"Cycle to work\":{\"amount\":null},\"Company Car\":{\"amount\":null},\"Childcare vouchers\":{\"amount\":null},\"Lunch vouchers\":{\"amount\":null}},\"employment\":{\"hoursInDayNotWorked\":9,\"standardWorkingPattern\":null,\"fte\":100,\"type\":null,\"flsaCode\":null,\"actualWorkingPattern\":{\"workingPatternType\":\"hourly\",\"days\":{\"sunday\":0,\"tuesday\":9,\"wednesday\":9,\"monday\":9,\"friday\":9,\"thursday\":9,\"saturday\":0},\"hoursPerDay\":9,\"workingPatternId\":363430},\"contract\":\"Full time\",\"calendarId\":null,\"salaryPayType\":null,\"personalWorkingPatternType\":null,\"workingPattern\":null,\"activeEffectiveDate\":\"2025-06-01\",\"weeklyHours\":45,\"siteWorkingPattern\":{\"workingPatternType\":\"hourly\",\"days\":{\"sunday\":0,\"tuesday\":9,\"wednesday\":9,\"monday\":9,\"friday\":9,\"thursday\":9,\"saturday\":0},\"hoursPerDay\":9,\"workingPatternId\":363430}},\"variable\":{\"Executive bonus\":{\"companyPercent\":null,\"amount\":null,\"paymentPeriod\":null,\"individualPercent\":null,\"departmentPercent\":null},\"Bonus\":{\"companyPercent\":null,\"amount\":null,\"paymentPeriod\":null,\"individualPercent\":null,\"departmentPercent\":null},\"Commission\":{\"companyPercent\":null,\"amount\":null,\"paymentPeriod\":null,\"individualPercent\":null,\"departmentPercent\":null}}},\"personal\":{\"communication\":{\"skypeUsername\":null,\"slackUsername\":null}},\"state\":\"uninvited\",\"creationDateTime\":\"2025-05-13T16:59:48.418346\",\"work\":{\"shortStartDate\":\"06-01\",\"startDate\":\"2025-06-01\",\"manager\":null,\"workPhone\":null,\"tenureDuration\":null,\"durationOfEmployment\":null,\"reportsToIdInCompany\":null,\"employeeIdInCompany\":null,\"reportsTo\":null,\"workMobile\":null,\"indirectReports\":null,\"siteId\":2474159,\"department\":null,\"tenureDurationYears\":0,\"tenureYears\":null,\"isManager\":false,\"title\":null,\"site\":\"New York (Demo)\",\"originalStartDate\":\"2025-06-01\",\"activeEffectiveDate\":\"2025-06-01\",\"directReports\":null,\"workChangeType\":\"New Employee\",\"secondLevelManager\":null,\"daysOfPreviousService\":0,\"yearsOfService\":0},\"employee\":{\"orgLevel\":null,\"payrollManager\":null,\"hrbp\":null,\"itAdmin\":null,\"jobLevelId\":null,\"buddy\":null,\"positionOpeningId\":null},\"temporaryAddress\":{\"city\":null,\"line2\":null,\"country\":null,\"line1\":null,\"usaState\":null,\"postCode\":null},\"secondName\":null,\"avatarUrl\":null,\"about\":{\"foodPreferences\":[],\"socialData\":{\"linkedin\":null,\"twitter\":null,\"facebook\":null},\"superpowers\":[],\"hobbies\":[],\"about\":null,\"avatar\":\"https://media-process.hibob.com/image/upload/b_rgb:A54D4D/co_white,l_text:Arial_50_bold:MH,g_center/hibob/default-avatar/transparent_avatar.png?token=X19jbGRfdG9rZW5fXz1leHA9NDgzNDYyODAxNH5hY2w9KiUyZmhpYm9iJTJmZGVmYXVsdC1hdmF0YXIlMmZ0cmFuc3BhcmVudF9hdmF0YXIucG5nKn5obWFjPThlYWExNDdjOWEzNWQwZjg3ZmQ1YmJkZTRiYTA4ZjE1YzExZjYzNWQxMmVkNzRmZGE1NmIwZDU5MDg4YTJmOGE=&vendor=cloudinary\"},\"actualPayment\":{\"amount\":null,\"change\":{\"changedBy\":null,\"reason\":null},\"payDate\":null,\"payType\":null},\"companyId\":631640,\"email\":\"maddie.hudson@pinpoint.dev\",\"surname\":\"Hudson\",\"home\":{\"mobilePhone\":null,\"privateEmail\":null,\"privatePhone\":null},\"coverImageUrl\":\"https://media-process.hibob.com/image/upload/v1/hibob/public-image/cover/white_default_cover_image.png?token=X19jbGRfdG9rZW5fXz1leHA9NDg4Njk4NzI4M35hY2w9KiUyZmhpYm9iJTJmcHVibGljLWltYWdlJTJmY292ZXIlMmZ3aGl0ZV9kZWZhdWx0X2NvdmVyX2ltYWdlLnBuZyp+aG1hYz03MWYyMTM2YWYxMWE2MjI0OGJiNDIwMmMwY2ZiNzQ5OGViOTk0NjJjODBjNmQ3MTQ3NzkwYWE4Y2UwOGExMmQw&vendor=cloudinary\",\"id\":\"3631726758354485431\",\"firstName\":\"Maddie\"}"
        }
      },
      "recorded_at": "Tue, 13 May 2025 16:59:48 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "https://api.hibob.com/v1/docs/people/3631726758354485431/shared",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"name\":\"tom_hacquoil.pdf\",\"url\":\"https://pinpointhq.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBM0thK0E9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--f381b92262aa1a8f2f759c8da39ca4b874819f4d/tom_hacquoil.pdf\",\"visibility\":\"employee\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Authorization": [
            "<HIBOB_AUTH_TOKEN>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"id\":\"23435335\",\"employeeId\":\"3631726758354485431\",\"uploadedById\":\"<HIBOB_USER>\",\"name\":\"tom_hacquoil.pdf\",\"creationDate\":\"2025-05-13T16:59:51.861884\",\"status\":\"Created\",\"tags\":[],\"folderId\":1047097,\"mimeType\":\"application/pdf\",\"fileId\":32101805,\"documentName\":\"tom_hacquoil.pdf\",\"owner\":{\"id\":\"3631726758354485431\"},\"actionRequestDate\":null,\"actionCompleteDate\":null,\"uploadedByDetails\":{\"id\":\"<HIBOB_USER>\",\"impersonatorUserId\":null,\"impersonatorSupportDisplayName\":null}}"
        }
      },
      "recorded_at": "Tue, 13 May 2025 16:59:51 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "https://developers-test.pinpointhq.com/api/v1/comments",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\":{\"type\":\"comments\",\"attributes\":{\"body_text\":\"Record created with ID: 3631726758354485431\"},\"relationships\":{\"commentable\":{\"data\":{\"type\":\"applications\",\"id\":\"8863861\"}}}}}"
        },
        "headers": {
          "X-Api-Key": [
            "<PINPOINT_API_KEY>"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 201,
          "message": "Created"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json; charset=utf-8"
          ],
          "X-Pinpoint-Version": [
            "ce53e7eea65bce3cd4d0807fd14d60c604511758-1747153554"
          ],
          "Etag": [
            "W/\"1b9ac13226cfbcbcd053f229ec4038c0\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\":{\"id\":\"5204330\",\"type\":\"comments\",\"attributes\":{\"body_text\":\"Record created with ID: 3631726758354485431\",\"commentable_id\":\"8863861\",\"commentable_type\":\"Application\",\"created_at\":\"2025-05-13T16:59:52+00:00\",\"private_comment\":false,\"updated_at\":\"2025-05-13T16:59:52+00:00\",\"user_id\":\"95960\"},\"relationships\":{\"user\":{\"meta\":{\"included\":false}},\"commentable\":{\"data\":{\"type\":\"applications\",\"id\":\"8863861\"}}}},\"included\":[{\"id\":\"8863861\",\"type\":\"applications\",\"attributes\":{\"created_at\":\"2024-02-01T06:44:38+00:00\",\"updated_at\":\"2024-02-19T16:19:20+00:00\",\"candidate_id\":\"6909496\",\"hired_at\":null,\"internal_candidate\":true,\"job_id\":\"174770\",\"locale\":\"en\",\"stage_id\":\"1539046\",\"rejected_at\":null,\"phone_iso2\":\"CO\",\"start_on\":null,\"is_demo\":true,\"first_[...]
