{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://developers-test.pinpointhq.com/api/v1/comments",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\":{\"type\":\"comments\",\"attributes\":{\"body_text\":\"This is a test comment\"},\"relationships\":{\"commentable\":{\"data\":{\"type\":\"applications\",\"id\":\"nonexistent-id\"}}}}}"
        },
        "headers": {
          "X-Api-Key": [
            "<PINPOINT_API_KEY>"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 400,
          "message": "Bad Request"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json; charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"errors\":[{\"code\":\"bad_request\",\"status\":\"400\",\"title\":\"Request Error\",\"detail\":\"included..attributes.id should be type integer_id\",\"source\":{\"pointer\":\"included//attributes/id\"},\"meta\":{\"attribute\":\"included..attributes.id\",\"message\":\"should be type integer_id\",\"code\":\"type_error\"}}]}"
        }
      },
      "recorded_at": "Tue, 13 May 2025 17:09:24 GMT"
    }
  ],
  "recorded_with": "VCR 6.3.1"
}