{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://developers-test.pinpointhq.com/api/v1/applications/nonexistent-id?extra_fields%5Bapplications%5D=attachments",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Api-Key": [
            "<PINPOINT_API_KEY>"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 400,
          "message": "Bad Request"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json; charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"errors\":[{\"code\":\"bad_request\",\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"Failed to coerce id to a integer_id\"}]}"
        }
      },
      "recorded_at": "Tue, 13 May 2025 17:09:22 GMT"
    }
  ],
  "recorded_with": "VCR 6.3.1"
}