{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.hibob.com/v1/people",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"firstName\":\"Jane\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Authorization": [
            "<API_KEY>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 400,
          "message": "Bad Request"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Ratelimit-Limit": [
            "50"
          ],
          "X-Ratelimit-Remaining": [
            "48"
          ],
          "X-Ratelimit-Reset": [
            "1747155840"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"error\":\"String value expected\",\"errors\":{\"email\":\"String value expected\",\"surname\":\"String value expected\",\"work.startDate\":\"Date value expected\"}}"
        }
      },
      "recorded_at": "Tue, 13 May 2025 17:03:45 GMT"
    }
  ],
  "recorded_with": "VCR 6.3.1"
}
