{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.hibob.com/v1/docs/people/3631726758354485431/shared",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"name\":\"tom_hacquoil.pdf\",\"url\":\"https://pinpointhq.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBM0thK0E9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--f381b92262aa1a8f2f759c8da39ca4b874819f4d/tom_hacquoil.pdf\",\"visibility\":\"employee\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Authorization": [
            "<API_KEY>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"id\":\"23435373\",\"employeeId\":\"3631726758354485431\",\"uploadedById\":\"<HIBOB_USER>\",\"name\":\"tom_hacquoil.pdf\",\"creationDate\":\"2025-05-13T17:04:59.946259\",\"status\":\"Created\",\"tags\":[],\"folderId\":1047097,\"mimeType\":\"application/pdf\",\"fileId\":32101891,\"documentName\":\"tom_hacquoil copy1.pdf\",\"owner\":{\"id\":\"3631726758354485431\"},\"actionRequestDate\":null,\"actionCompleteDate\":null,\"uploadedByDetails\":{\"id\":\"<HIBOB_USER>\",\"impersonatorUserId\":null,\"impersonatorSupportDisplayName\":null}}"
        }
      },
      "recorded_at": "Tue, 13 May 2025 17:05:00 GMT"
    }
  ],
  "recorded_with": "VCR 6.3.1"
}
