{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.hibob.com/v1/docs/people/nonexistent/shared",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"name\":\"Resume.pdf\",\"url\":\"https://example.com/files/resume.pdf\",\"visibility\":\"employee\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Authorization": [
            "<API_KEY>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 403,
          "message": "Forbidden"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "App-Error": [
            "Not authorized to create on shared folder. BobEmployee(companyId=631640, employeeId=<HIBOB_USER>, impersonator=null)"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"key\":\"Not authorized to create on shared folder. BobEmployee(companyId=631640, employeeId=<HIBOB_USER>, impersonator=null)\",\"error\":\"Not authorized to create on shared folder. BobEmployee(companyId=631640, employeeId=<HIBOB_USER>, impersonator=null)\",\"args\":[]}"
        }
      },
      "recorded_at": "Tue, 13 May 2025 17:01:18 GMT"
    }
  ],
  "recorded_with": "VCR 6.3.1"
}
